<table role="presentation" style="vertical-align:top" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
      <tr>
        <td style="font-size:0px;word-break:break-word">
          <div style="height:20px;line-height:20px">&hairsp;</div>
        </td>
      </tr>
      <tr>
        <td style="font-size:0px;padding:10px 25px;word-break:break-word" align="center">
          <table role="presentation" style="border-collapse:separate;width:130px;line-height:100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td role="presentation" style="border:medium none;border-radius:3px;background:rgb(237,96,30)" valign="middle" bgcolor="#ed601e" align="center">
                  <a href="https://forms.gle/UY2Zh8UJvEERgGk86" style="display:inline-block;width:80px;background:rgb(237,96,30);color:rgb(255,255,255);font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:120%;margin:0px;text-decoration:none;text-transform:none;padding:10px 25px;border-radius:3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://forms.gle/UY2Zh8UJvEERgGk86&amp;source=gmail&amp;ust=1693629286868000&amp;usg=AOvVaw2J3dBp68K7BesTXDz7jhym"> Feedback </a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td style="font-size:0px;padding:10px 25px;word-break:break-word" align="center">
          <table role="presentation" style="border-collapse:separate;width:130px;line-height:100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td role="presentation" style="border:medium none;border-radius:3px;background:rgb(238,238,238)" valign="middle" bgcolor="#eeeeee" align="center">
                  
                <br></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td style="font-size:0px;padding:10px 25px;word-break:break-word" align="center">
          
          <table role="presentation" style="float:none;display:inline-table" cellspacing="0" cellpadding="0" border="0" align="center">
            <tbody>
              <tr>
                <td style="padding:8px;vertical-align:middle">
                  <table role="presentation" style="background:rgb(85,172,238);border-radius:3px;width:32px" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                      <tr>
                        <td style="font-size:0px;height:32px;vertical-align:middle;width:32px">
                          <a href="https://twitter.com/intent/tweet?url=https://twitter.com/AstroclubIISERM" style="color:rgb(255,104,58)" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/intent/tweet?url%3Dhttps://twitter.com/AstroclubIISERM&amp;source=gmail&amp;ust=1693629286868000&amp;usg=AOvVaw0vXr3LR2XlwbSLtLnBj_IH">
                            <img src="https://ci5.googleusercontent.com/proxy/5-H8_DK82L0N-1vgP5uKBHqWiqyxiM_gQDmYNPR-zKzHLn0kycNlKjm1RPmgIFs1HCoTrgRj21Cbo7NByc3zCrXuBvOivAnQPL6D82Hi1xJ8t0qHOA5f=s0-d-e1-ft#https://www.mailjet.com/images/theme/v1/icons/ico-social/twitter.png" style="border-radius:3px;display:block" width="32" height="32" class="CToWUd" data-bit="iit">
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          
          <table role="presentation" style="float:none;display:inline-table" cellspacing="0" cellpadding="0" border="0" align="center">
            <tbody>
              <tr>
                <td style="padding:8px;vertical-align:middle">
                  <table role="presentation" style="background:rgb(63,114,155);border-radius:3px;width:32px" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                      <tr>
                        <td style="font-size:0px;height:32px;vertical-align:middle;width:32px">
                          <a href="https://www.instagram.com/astroclub.iiserm/" style="color:rgb(255,104,58)" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/astroclub.iiserm/&amp;source=gmail&amp;ust=1693629286868000&amp;usg=AOvVaw10DLx4-BCBsj69L5ZSO2rl">
                            <img src="https://ci4.googleusercontent.com/proxy/1hRWt45z2joLMPCx5K8gvrTYv5dx_FoJ33SrpnoklU5qqxHOPjtDcESAgwfD6COZU3qnghYbYRI-Cas7knFfamhN6HRTC6c1UVSa-gxSjlSbCo_cqb30ZeM=s0-d-e1-ft#https://www.mailjet.com/images/theme/v1/icons/ico-social/instagram.png" style="border-radius:3px;display:block" width="32" height="32" class="CToWUd" data-bit="iit">
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          
          <table role="presentation" style="float:none;display:inline-table" cellspacing="0" cellpadding="0" border="0" align="center">
            <tbody>
              <tr>
                <td style="padding:8px;vertical-align:middle">
                  <table role="presentation" style="background:rgb(235,51,35);border-radius:3px;width:32px" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                      <tr>
                        <td style="font-size:0px;height:32px;vertical-align:middle;width:32px">
                          <a href="https://www.youtube.com/channel/UCj6eEl3_rXHt4_7wKzk-b-g" style="color:rgb(255,104,58)" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.youtube.com/channel/UCj6eEl3_rXHt4_7wKzk-b-g&amp;source=gmail&amp;ust=1693629286868000&amp;usg=AOvVaw1EzErKzuEQ3RIw4sJKwXUA">
                            <img src="https://ci5.googleusercontent.com/proxy/fnEEyUcLy2ZazKgWzZFG9nk09AEfcytpUMFPJRX5Nl5ba4W8EFNYvz_uM9t89aSrMTeMA8pQbA-L3cl50n6iZ2f1blGyMPNNLwCfh5Sl0uQFXbKqz7KX=s0-d-e1-ft#https://www.mailjet.com/images/theme/v1/icons/ico-social/youtube.png" style="border-radius:3px;display:block" width="32" height="32" class="CToWUd" data-bit="iit">
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          
        </td>
      </tr>
    </tbody>
  </table>